<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo(a) ao Nosso Sistema!</title>
</head>
<body>

<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <img src="https://i.imgur.com/9WAsKpZ.gif" style="width: 100%; max-width: 600px;">
    <h1 style="color: #333;">Bem-vindo(a) ao Nosso Sistema!</h1>
    <p>Olá</p>
    <p>Seja bem-vindo ao nosso sistema! Estamos muito felizes em tê-lo(a) conosco.</p>
    <p>Queremos aproveitar esta oportunidade para agradecer por se juntar à nossa comunidade. Estamos empenhados em fornecer a você uma experiência incrível e valiosa em nossa plataforma.</p>
    <p>Com nosso sistema, você terá acesso a uma variedade de recursos e funcionalidades que foram projetados para facilitar sua vida e ajudá-lo a alcançar seus objetivos.</p>
    <p>Fique à vontade para explorar todos os recursos disponíveis e não hesite em nos contatar se precisar de ajuda ou tiver alguma dúvida. Estamos aqui para ajudar!</p>
    <p>Mais uma vez, obrigado por se juntar a nós. Esperamos que você aproveite sua jornada conosco.</p>
    <p>Atenciosamente,<br>A Equipe Coffee Desck</p>
</div>
</body>
</html>
